@keyframes slideIn {
    from{
     transform: translateY(20%);
    }
    to{
     transform: translateY(0);
    }
 }

 @keyframes  slideLeft{
    from{
        transform : translateX(20%);

    }
    to{
        transform: translateX(0);
    }
 }

.hero-wrapper{
    color:white;
    position: relative;
    padding-bottom: 2rem;
   

}

.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    

}

.image-container{
    width: 30rem;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-right: 8rem;
    border-radius : 15rem 15rem 0 0;
    border: 8px solid rgba(255, 255, 255, 0.12);
    
    animation: slideLeft 2000ms ease;
    

}

.image-container>img{
    width: 100%;
    height: 100%;
   
    
}

.hero-left{
   gap: 3rem; 
   margin-left: 5vw;
}
.hero-right{
    display: flex;
    justify-content: center;
}

.hero-title{
    position: relative;
    z-index: 1;
    
    
}
.hero-title>h1{
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 4rem;
    animation: slideIn 1000ms ease-in ;
    
    
    
}

.orange-circle{
    height: 4rem;
    width: 4rem;
    border: none;
    border-radius: 100%;
    background: var(--orange-gradient);
    position: absolute;
    right: 28%;
    top: -10%;
    z-index:-1;
    
}


.stats{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    margin-top: 2rem;
    
}


.stat-text{
     font-weight: 100;
     font-size: 0.9rem;
     color: #8c8b8b;
    

}

.stat-num{
    margin-top: 1.5rem;
    font-size:2rem;
   
    
    color: aquamarine;
}

.plus{
    color: rgb(255, 165, 0);
}

.hero-description{
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 0.9rem;
    color: #8c8b8b;
}

@media only screen and (max-width: 1150px) {
    

    .hero-container{
        margin-top: 2rem;
        justify-content: center;
        padding: 15px;
    }

    .hero-left{
        margin-top: 30px;
        margin: 0;
    }

    .image-container{
        margin: 2vw;
        padding: 0;
    }

    
    

    
  
   
  }


  @media only screen and (max-width: 530px) {
    

   
    .hero-left{
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        justify-content: center;
        margin: 0;
    }
    .hero-description{
        margin-top: 1rem;
        font-size: 0.9rem;
        color: #8c8b8b;
    }
    
    .search-bar{
        margin-top:-3rem;
        

    }
    .stat-num{
        margin-top: auto;
        font-size:2rem;
       
        
        color: aquamarine;
    }
    
    
    .image-container{
       
        
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 30rem;
        border-radius : 15rem 15rem 0 0;
        border: 8px solid rgba(255, 255, 255, 0.12);
        
        animation: slideLeft 2000ms ease;
        
    
    }
   
  }
  

  

